# ENV
# =========================================================
.env
.env.*
!.env.example
!.env.template

# Secrets
*.pem
*.key
*.crt
*.p12

# NODE / FRONTEND
# =========================================================
node_modules/
dist/
dist-ssr/
build/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite
.vite/
*.local

# PYTHON
# =========================================================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Packaging
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest / Coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# Mypy
.mypy_cache/

# Celery
celerybeat-schedule

# DOCKER
# =========================================================
docker-compose.override.yml
*.pid


# BANCO DE DADOS
# =========================================================
*.sqlite3
*.db

# TESTES / LOGS
# =========================================================
logs/
*.log

# SISTEMA OPERACIONAL
# =========================================================
.DS_Store
Thumbs.db


# IDE / EDITOR
# =========================================================
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# CACHE / TEMP
# =========================================================
.cache/
.tmp/
temp/
tmp/

# BUILD PRODUÇÃO
# =========================================================
*.tgz
*.tar.gz

#  NOTEBOOKS
# =========================================================
.ipynb_checkpoints/

# SESSÕES / TOKENS
# =========================================================
sessions/
*.session